body{
    margin: 0;
}
.title{
    color: white;
    text-align: center;
}
.header{
    background-color: coral;
    padding: 25px;
}
.content{
    background-color: darkblue;
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.footer{
    background-color: darkred;
    padding: 25px;
}
.card{
    width: 350px;
    padding: 15px;
    background-color: gray;
}